* {
  font-family: "Google Sans";
  color: #e5e9f0;
  background: transparent;
}

#window {
  background: rgba(53, 53, 53, 0);
  backdrop-filter: blur(15px);
  margin: auto;
  padding: 10px;
  border-radius: 10px;
}

#input {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  background-color: rgba(33, 32, 46, 0.3);
  box-shadow: none;
}

#entry {
  padding: 5px;
  border-radius: 10px;
}

#entry:selected {
  background-color: rgba(69, 71, 90, 0.3);
  border: none;
  outline: none;
}

#text {
  margin: 2px;
  font-weight: 700;
}

#text:selected {}
