* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: #1e1e2e;
    opacity: 0.8;
    color: #cdd6f4;
}

tooltip {
    background: #1e1e2e;
    opacity: 0.8;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

tooltip label {
    color: #cdd6f4;
}

#workspaces button {
    padding: 0 8px; /* Espaçamento interno */
    color: #313244;
    margin-right: 5px; /* 0 */
}

#workspaces button.active {
    color: #a6adc8;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
}

#custom-launch_wofi,
#custom-lock_screen,
#custom-light_dark,
#custom-power_btn,
#custom-power_profile,
#custom-weather,
#window,
#cpu,
#disk,
#custom-updates,
#memory,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#temperature,
#workspaces,
#backlight {
    background: transparent;
    opacity: 0.8;
    padding: 0 10px; /* Espaçamento interno */
    margin: 0 4px 0 0; /* Espaçamento externo à direita */
    border: 0;
}

#tray, #custom-lock_screen, #temperature, #backlight, #custom-launch_wofi, #cpu,
#custom-light_dark, #custom-power_btn, #workspaces, #pulseaudio.microphone, #battery, #disk {
    border-radius: 0;
    margin-right: 0;
}

#temperature.critical {
    color: #e92d4d;
}

#workspaces {
    padding-right: 0;
    padding-left: 0px;
}

#custom-power_profile {
    color: #a6e3a1;
}

#window {
    margin-left: 0;
    margin-right: 0;
}

#custom-launch_wofi {
    color: #89b4fa;
    margin-left: 0;
}

#pulseaudio {
    color: #89b4fa;
}

#pulseaudio.microphone {
    color: #cba6f7;
}

#battery {
    color: #a6e3a1;
}
