* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: alpha(#353535, 0.1); /* avoid opacity as described here: https://github.com/Alexays/Waybar/issues/3492 */
    color: #cdd6f4;
}

tooltip {
    /*background: alpha(#353535, 0.5);*/
    background: alpha(#14151b, 0.9);
    opacity: 0.8;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    /*border-color: #3b3b3b;*/ /* inactive border color */
    border-color: #B4BEFE;     /* active border color */
}

tooltip label {
    color: #cdd6f4;
}

#workspaces button {
    padding: 0 8px;
    color: #313244;
    margin-right: 0px;
}

#workspaces button.active {
    color: #a6adc8;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
}

#workspaces button:hover {
    background: transparent;
    /*background: #11111b;*/
    color: #cdd6f4;
}

#window,
#custom-launch_wofi,
#workspaces,
#clock,
#custom-updates,
#battery,
#pulseaudio,
#tray,
#network,
#bluetooth,
#backlight,
#custom-lock_screen,
#custom-power_btn {
    background: transparent;
    opacity: 0.8;
    padding: 0 10px; 
    margin: 0 4px 0 0;
    border: 0;
}

#tray, #network, #bluetooth, #custom-lock_screen, #backlight, #custom-launch_wofi, #custom-power_btn, #workspaces, #pulseaudio.microphone, #battery {
    border-radius: 0;
    margin-right: 0;
}

#workspaces {
    padding-right: 0;
    padding-left: 0px;
}

#window {
    margin-left: 0;
    margin-right: 0;
}

#custom-launch_wofi {
    color: #89b4fa;
    margin-left: 0;
}

#calendar {
    font-family: "JetBrainsMono Nerd Font";
}
/*
#battery {
    color: #a6e3a1;
}

#pulseaudio {
    color: #89b4fa;
}

#pulseaudio.microphone {
    color: #cba6f7;
}

#backlight {
    color: #ffe599;
}

#custom-power_btn {
    color: #e06666;
}
*/
